* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  background-image:
    radial-gradient(ellipse at 20% 30%, #38bdf866 0%, transparent 60%),
    radial-gradient(ellipse at 80% 70%, #8a5cf54d 0%, transparent 70%),
    radial-gradient(
      ellipse at 60% 20%,
      rgba(236, 72, 153, 0.25) 0%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at 40% 80%,
      rgba(34, 197, 94, 0.2) 0%,
      transparent 65%
    );
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;

  background-color: rgba(11, 14, 20, 0.05);
  backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);

  padding: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  display: inline block;

  height: min-content;
}

header > a {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  margin: 5px 0px;
  padding: 7px 14px;
  border-radius: 14px;
  font-weight: bold;
  color: lightgray;
}

header > a:hover {
  transform: translateY(-3px);
  transition: 200ms;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 6%,
    rgba(54, 54, 54, 1) 100%
  );
  color: black;
}

.container {
  max-width: 1000px;
  width: 100%;
  min-width: 400px;
  text-align: center;
  padding-top: 50px;
}

#about {
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-size: 60px;
  margin-bottom: 0;
  cursor: pointer;
}

.nombre {
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(180deg, #00f2ff, #7e57c2);

  background-clip: text;
  color: transparent;
  display: inline-block;
  cursor: pointer;
}

.tag {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 25px;
  color: lightgray;
  cursor: pointer;
}

.status-badge {
  display: inline-flex;
  align-items: center;
  background-color: #0d1a0d;
  color: #4ade80; /* Verde brillante del texto */
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #166534; /* Borde verde oscuro */
  font-family: 'Courier New', Courier, monospace; /* Fuente estilo consola */
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #4ade80; /* El punto verde */
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  animation: pulse-animation 2s infinite ease-in-out;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.5;
  }
}

.desc {
  width: 85%;
  text-align: center;
  font-size: 18px;
  color: lightgray;
  cursor: pointer;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
}

.skills::-webkit-scrollbar {
  display: none;
}

.skills-badge {
  margin: 0;
  padding: 8px;
  border-radius: 35px;
  color: lightgray;
  background: linear-gradient(180deg, #0b0e14, #181125);
  cursor: pointer;
  font-weight: bold;
}

.skills-badge:hover {
  background: white;
  color: rgb(37, 37, 37);
  transform: translateY(-3px);
  transition: 300ms;
}

/*ACA TERMINA LA PARTE DEL ABOUT ME*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.buttons a {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 14px;
  transition: 0.2s;
  font-weight: bold;
}

.primary {
  background-color: #0b0e14;
  color: white;
  background: linear-gradient(180deg, #0b0e14, #181125);
}

.primary:hover {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 6%,
    rgba(54, 54, 54, 1) 100%
  );
  color: black;
}

.buttons a:hover {
  transform: translateY(-3px);
}

.contenedor-carrusel {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.carrusel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 15px;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 15px;

  background: #111;
  border: 1px solid #222;
  border-radius: 20px;

  padding: 30px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
}

.card h2 {
  margin-bottom: 12px;
}

.card p {
  color: #aaa;
  line-height: 1.5;
}

/*ACA VA LA PARTE DE LA EDUCACION*/
#education {
  scroll-margin-top: 90px;
}

.contenedor-education {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los bloques */
  padding: 20px;
}

.education-card {
  width: 60%;
  padding: 15px;
  background: linear-gradient(180deg, #0b0e14, #181125);
  border: 1px solid white;
  border-radius: 15px;
  /* Por defecto, los elementos se quedan a la izquierda */
  align-self: flex-start;
}

.education-card:nth-child(even) {
  align-self: flex-end;
}

.title-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#contact {
  scroll-margin-top: 90px;
}

footer {
  margin-top: 60px;
  color: #666;
  font-size: 14px;
}

.cont-footer {
  color: #aaa;
  text-decoration: none;
}

.cont-footer:hover {
  color: lightblue;
  font-size: 20px;
  transition: 400ms;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  header {
    width: 100%;
  }

  header > a {
    margin: 0;
    padding: 5px;
  }

  .container {
    width: 90%;
  }

  .card {
    flex: 0 0 80%; /* Ocupa casi toda la pantalla en móviles */
  }

  .contenedor-education {
    display: flex;
    justify-content: center;
  }
  .education-card {
    width: 90%;
    align-self: center;
  }
  .education-card:nth-child(even) {
    width: 90%;
    align-self: center;
  }
}
