* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  min-width: 400px;
}

header > a {
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  margin: 5px 0px;
  padding: 7px 14px;
  border-radius: 14px;
  font-weight: bold;
  border: 1px solid #333;
  color: white;
  background-color: #0a0a0a;
}

header > a:hover {
  transform: translateY(-3px);
  transition: 200ms;
  background: white;
  color: black;
}

.container {
  max-width: 1000px;
  width: 70%;
  min-width: 400px;
  text-align: center;
  padding-top: 50px;
}

#home {
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.presentation {
  background: #111;
  border: 1px solid #222;
  border-radius: 20px;
  margin: 30px 0px;
  padding: 0px 15px 10px 0px;

  text-align: center;
  justify-content: center;

  overflow: hidden;
}

.image-container {
  width: 250px;
  height: 250px;

  min-height: 250px;
  max-height: 250px;

  min-width: 250px;
  max-width: 250px;

  border-radius: 30px;

  float: left;

  margin: 20px;
  overflow: hidden;

  border: 1px solid #333;
}

.image-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.presentation > h1 {
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.presentation > p {
  text-align: center;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.buttons a {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 14px;
  transition: 0.2s;
  font-weight: bold;
}

.primary {
  border: 1px solid #333;
  color: white;
}

.primary:hover {
  background: white;
  color: black;
}

.buttons a:hover {
  transform: translateY(-3px);
}

#about {
  scroll-margin-top: 80px;
}

.contenedor-carrusel {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.carrusel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 15px;
}

.cards-carrusel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  border: 1px solid #222;
  background: #111;
  text-align: left;

  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
}

.cards-carrusel p {
  color: #aaa;
  line-height: 1.5;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  flex: 0 0 calc(50%);
  background: #111;
  border: 1px solid #222;
  border-radius: 20px;
  padding: 30px;
  text-align: left;
}

.card h2 {
  margin-bottom: 12px;
}

.card p {
  color: #aaa;
  line-height: 1.5;
}

.contact {
  margin: 20px;
}

footer {
  margin-top: 60px;
  color: #666;
  font-size: 14px;
}

.cont-footer {
  color: #aaa;
  text-decoration: none;
}

.cont-footer:hover {
  color: lightblue;
  font-size: 20px;
  transition: 400ms;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  .description {
    font-size: 18px;
  }
  .card {
    flex: 0 0 80%; /* Ocupa casi toda la pantalla en móviles */
  }
}
